.dashboard {
	background-color: #ced4da;
}

.dashboard_header {
	text-align: left;
	margin-left: 50px;
	padding-top: 50px;
}

.dashboard_header h2 {
	font-size: 2.2em;
	font-weight: lighter;
}

.dashboard_nav_items {
	padding-left: 50px;
}

.dashboard_nav_items ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	list-style: none;
	padding-top: 50px;
	padding-bottom: 20px;
}

.dashboard_nav_items ul li {
	padding-right: 20px;
}

.dashboard_nav_items ul li a {
	text-decoration: none;
	color: #1e3f66;
	font-size: 1.2em;
	padding-bottom: 15px;
}

.dashboard_nav_items .active {
	border-bottom: 4px solid #1e3f66;
}
