.dashboard {
	background-color: #ced4da;
}

.dashboard_header {
	text-align: left;
	margin-left: 50px;
	padding-top: 50px;
}

.dashboard_header h2 {
	font-size: 2.2em;
	font-weight: lighter;
}

.dashboard_nav_items {
	padding-left: 50px;
}

.dashboard_nav_items ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	list-style: none;
	padding-top: 50px;
	padding-bottom: 20px;
}

.dashboard_nav_items ul li {
	padding-right: 20px;
}

.dashboard_nav_items ul li a {
	text-decoration: none;
	color: #1e3f66;
	font-size: 1.2em;
	padding-bottom: 15px;
}

.dashboard_nav_items .active {
	border-bottom: 4px solid #1e3f66;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 5%;
}

.hr_one {
	background-color: #1e3f66;
	border: none;
	height: 250px;
	width: 3px;
	margin: 0 80px;
}

.left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.left h2 {
	font-size: 1.5em;
	font-weight: lighter;
}

.left .profile_image {
	height: 100px;
	width: 100px;
	border: #1e3f66 solid 2px;
	border-radius: 50%;
	margin: 40px 0;
}

.left p {
	font-size: 1.5em;
	font-weight: bold;
	padding-bottom: 40px;
}

.upload_avatar {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.upload_avatar button {
	padding: 2px 10px;
	border: 1px solid #ddd;
	border-radius: 10px;
	background: #1e3f66;
	color: #fff;
	height: 35px;
	width: 180px;
	font-size: 0.9em;
	cursor: pointer;
}

.upload_avatar_form input {
	width: 180px;
	clear: both;
	margin: 30px 0;
	padding: 10px 15px;
	border: 1px solid #ddd;
	border-radius: 10px;
}

.hidden {
	display: none;
}

.right {
	width: 400px;
}

.right_header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.right_header h2 {
	font-size: 1.5em;
	font-weight: lighter;
}

.buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.cancel_button {
	padding: 2px 0;
	border: 1px solid #ddd;
	border-radius: 10px;
	background: #1e3f66;
	color: #fff;
	height: 40px;
}

.save_button {
	color: #1e3f66;
	border: 1px solid #1e3f66;
	border-radius: 10px;
	padding: 2px 0;
	align-items: center;
	font-weight: bold;
	height: 40px;
}

.hr_two {
	margin: 20px 0 50px;
	background-color: #1e3f66;
	border: none;
	height: 3px;
	width: 400px;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form input {
	width: 300px;
	clear: both;
	margin-bottom: 20px;
	padding: 15px 15px;
	border: 1px solid #ddd;
	border-radius: 10px;
}

.form label {
	padding-left: 15px;
}

.form input[type="date"] {
	margin-top: 15px;
}

.form input[type="submit"] {
	width: 100px;
	padding: 0;
	margin-top: 20px;
	margin-right: 25px;
}

.form input[type="reset"] {
	width: 100px;
	padding: 0;
	margin-top: 20px;
	margin-left: 25px;
}
