* {
	margin: 0;
	padding: 0;
	font-family: Helvetica;
}

header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 5px 40px;
	box-shadow: 0 1px 8px #ddd;
	transition: all 0.3s ease 0s;
}

.logo_img {
	height: 60px;
	width: 142px;
}

.logo {
	margin-right: auto;
}

header li {
	list-style: none;
	display: inline-block;
	padding: 0 20px;
}

header a {
	text-decoration: none;
	color: #555;
	transition: all 0.3s ease 0s;
}

header .button {
	margin-left: auto;
}

header .button li {
	padding: 5px;
}

header .profile {
	margin-left: auto;
}

header .profile .profile_container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 3px 0;
}

.profile_container p {
	padding-right: 20px;
	font-size: 1.1em;
	color: #1e3f66;
}

.profile_container:hover {
	cursor: pointer;
}

header .profile_picture {
	height: 50px;
	width: 50px;
}

header .profile_picture img:hover {
	cursor: pointer;
}

header .drop_down {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 150px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
	border-radius: 0 0 20px 20px;
	z-index: 1;
	display: none;
}

header .drop_down a {
	color: #1e3f66;
	padding: 12px 18px;
	text-decoration: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

header .drop_down a:hover {
	color: black;
	font-size: 1.1em;
	transition: all 0.3s ease 0s;
}

header .show {
	display: block;
}

header .hidden {
	display: none;
}

.sign_in {
	background: #1e3f66;
	color: #ffffff;
	border-radius: 8px;
	padding: 10px 20px;
	align-items: center;
	font-weight: bold;
	font-size: 0.9em;
}

.sign_in:hover {
	color: #1e3f66;
	background: #ffffff;
	border: 1px solid #1e3f66;
	border-radius: 8px;
	padding: 8px 18px;
	align-items: center;
	font-weight: bold;
	font-size: 0.9em;
}

.sign_up {
	color: #1e3f66;
	border: 1px solid #1e3f66;
	border-radius: 8px;
	padding: 8px 18px;
	align-items: center;
	font-weight: bold;
	font-size: 0.9em;
}

.sign_up:hover {
	background: #1e3f66;
	color: #ffffff;
	border-radius: 8px;
	padding: 10px 20px;
	align-items: center;
	font-weight: bold;
	font-size: 0.9em;
}

footer {
	background: #e9ebed;
}

footer .button_container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 2% 0;
}

.button_container hr {
	width: 0px;
	height: 130px;
	margin: 0 2%;
	border: 1px solid #747474;
}

.button_container .sign_up_section {
	text-align: center;
}

.button_container .sign_up_section span {
	color: #8496a9;
	font-size: 0.9em;
}

.button_container .sign_up_section h2 {
	color: #1e3f66;
	font-weight: lighter;
	margin-bottom: 30px;
	margin-top: 10px;
	font-size: 1.7em;
}

.button_container .sign_up_section a {
	text-decoration: none;
	background: #1e3f66;
	color: #ffffff;
	border-radius: 8px;
	padding: 10px 20px;
	align-items: center;
	font-weight: bold;
	font-size: 0.9em;
}

.button_container .sign_in_section {
	text-align: center;
}

.button_container .sign_in_section span {
	color: #8496a9;
	font-size: 0.9em;
}

.button_container .sign_in_section h2 {
	color: #1e3f66;
	font-weight: lighter;
	margin-bottom: 30px;
	margin-top: 10px;
	font-size: 1.7em;
}

.button_container .sign_in_section a {
	text-decoration: none;
	color: #1e3f66;
	border: 1px solid #1e3f66;
	border-radius: 8px;
	padding: 8px 18px;
	align-items: center;
	font-weight: bold;
	font-size: 0.9em;
}

footer nav ul {
	display: flex;
	flex-direction: row;
	list-style: none;
	justify-content: center;
	align-items: center;
}

footer nav ul li {
	margin: 0 10px;
}

footer nav ul li a {
	text-decoration: none;
	color: #1e3f66;
}

footer .icons {
	display: flex;
	flex-direction: row;
	list-style: none;
	justify-content: center;
	align-items: center;
}

footer .icons a {
	margin: 0 10px;
	margin-top: 50px;
}

footer p {
	text-align: center;
	padding: 20px 0;
	color: #8496a9;
	font-size: 0.8em;
}

.link_effect {
	background-image: linear-gradient(
		to right,
		#1e3f66,
		#245ca0 50%,
		#000000 50%
	);
	background-size: 200% 100%;
	background-position: -100%;
	display: inline-block;
	padding: 5px 0;
	position: relative;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: all 0.3s ease-in-out;
}

.link_effect:before {
	content: "";
	background: #1e3f66;
	display: block;
	position: absolute;
	bottom: -3px;
	left: 0;
	width: 0;
	height: 3px;
	transition: all 0.3s ease-in-out;
}

.link_effect:hover {
	background-position: 0;
}

.link_effect:hover::before {
	width: 100%;
}
