* {
	margin: 0;
	padding: 0;
	font-family: Helvetica;
}

/* give cover image from (/assets/images/home_bg.png) to .hero div */

.hero_image {
	background-image: url(/assets/images/home_bg.png);
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100vw;
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.hero_contents {
	color: #ffffff;
	text-align: center;
	padding: 0 20%;
}

.hero_contents h1 {
	padding: 40px 0px;
	font-size: 3.5em;
}

.hero_contents p {
	font-size: 1.5em;
	line-height: 1.5;
}

.hero_contents hr {
	margin: 0 auto;
	width: 300px;
	border: 1px solid #ffffff;
}

.getting_started {
	display: flex;
	flex-direction: row;
	padding: 5% 8%;
	justify-content: space-between;
	align-items: flex-start;
}

.getting_started .content {
	width: 45%;
	padding: 0 5%;
	line-height: 1.5;
	font-size: 1.2em;
}
.getting_started span {
	color: #1cacf4;
}

.getting_started p {
	padding: 4% 0;
}

.getting_started .buttons {
	list-style: none;
	display: inline-block;
	padding: 2% 0;
}

.getting_started a {
	text-decoration: none;
	margin-right: 20px;
}

.card_container {
	display: flex;
	flex-direction: row;
	padding: 1% 8%;
	justify-content: space-between;
	align-items: flex-start;
}

.card {
	width: 45%;
	padding: 4% 4%;
	margin: 0 5%;
	line-height: 1.5;
	font-size: 1.2em;
	background-color: #f9f9f9;
	box-shadow: 0px 55px 55px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	margin-bottom: 5%;
}

.card h1 {
	font-size: 1.2em;
	padding: 3% 0;
}

.card p {
	padding: 5% 0;
}

.card a {
	text-decoration: none;
}

.houses {
	margin: 4% 8%;
	font-size: 2.5em;
}

.chimms {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 3%;
}

.chimms .chimm_card a {
	text-decoration: none;
	padding: 0;
	margin: 0;
}

.chimm_card {
	box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
	border-radius: 20px;
	background: #fff;
	color: #000;
	margin: 0 2% 0 2%;
}

.card_images {
	width: 20%;
	margin: 0 10px 30px 10px;
	background: #f9f9f9;
	align-items: center;
	margin-right: 5%;
}

.card_body {
	border-radius: 0 0 20px 20px;
	background-color: #1e3f66;
	color: #ffffff;
	padding: 8% 8%;
}

.card_images img {
	width: 100%;
	height: auto;
	border-radius: 10px;
}

.card_body h3 {
	font-size: 1.5em;
	padding: 0 0 15px 0;
}

.location {
	font-weight: lighter;
}

.card_body p {
	font-size: 1em;
	padding: 3px 0;
}

.chimm_card:hover {
	box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.9);
	transform: scale(1.1);
	transition: all 0.3s ease-in-out;
}

.nav_arrows h1 {
	text-align: center;
}

.nav_arrows h1 a {
	text-decoration: none;
	color: #000000;
}

.nav_arrows h1 a:after {
	text-decoration: none;
	color: #000000;
}

.nav_arrows h1 i {
	padding: 12px;
}

.nav_arrows h1 i:hover {
	font-weight: bold;
	font-size: 1.1em;
	transition: all 0.3s ease-in-out;
}

.view_more_link {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.view_more_link a {
	padding: 0 50px 50px 0;
	text-decoration: none;
	color: #1e3f66;
	font-size: 1.3em;
}

.view_more_link a:hover {
	font-weight: bold;
	font-size: 1.5em;
	transition: all 0.3s ease-in-out;
}
